/*styles landing*/

.header_landing {
  background-color: #51516C;
  height: 72px;
  align-items: center;
}

.header_landing h1 {
  margin-left: 154px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: white;
}

.landing_profiler {
  flex-direction: column;
  background-color: #323242;
  padding-top: 115px;
}

.landing_profiler_span {
  text-align: center;
  width: 1466px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: white;
  margin-top: 107px;
}

.landing_icon {
  height: 174px;
  justify-content: space-around;
  width: 100%;
  background: rgba(240, 240, 240, 0.1);
  margin-top: 143px;
}

.landing_icon_img {
  width: 100px;
  height: 100px;
}

.landing_benefits {
  width: 100%;
  height: 512px;
  flex-direction: column;
  padding-left: 124px;
  justify-content: center;
  background-color: #323242;
}

.landing_benefits_text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: white;
  padding-bottom: 35px;
}

.list {
  font-size: 36px;
  padding-bottom: 15px;
  line-height: 42px;
  color: white;
  list-style: disc;
}

.landing_benefits_ul {
  padding-left: 64px;
}

.landing_cabinet {
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: white;
  cursor: pointer;
}

.landing_list_roster {
  background-color: #454553;
  justify-content: space-around;
}

.landing_list_document {
  justify-content: center;
  flex-direction: column;
  height: 725px;
}

.landing_list_document span {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: white;
  margin-bottom: 73px;
}

.landing_list_document_ul {
  flex-direction: column;
}

.landing_list_document_li {
  width: 680px;
  height: 55px;
  background: rgba(240, 240, 240, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-bottom: 35px;
  font-size: 20px;
  color: #4A4A4A;
}

.landing_analytics {
  flex-direction: row;
  background-color: #454553;
}
