<html>
<body>
<header class="flex header_landing" id="head">
  <h1 class="header_logo">ПСБ-Профайлер</h1>
</header>
<section class="flex center landing_profiler">
  <img src="../../../assets/images/logo-landing.png" alt="Logo landing">
  <span class="flex center landing_profiler_span">ПСБ-Профайлер - веб-приложение, позволяющее распознавать документы по установленным признакам и классифицировать их в Клиентском досье.</span>
  <div class="flex center landing_icon">
    <a href="#head"><img class="landing_icon_img" src="../../../assets/images/documents-icon.png"
                         alt="Documents icon"></a>
    <a (click)="myProfile()" class="flex center landing_cabinet">
      <img class="landing_icon_img" src="../../../assets/images/icon-user.png" alt="User icon">
      <span>Личный кабинет</span>
    </a>
    <a href="#analitics"><img class="landing_icon_img" src="../../../assets/images/analitics-icon.png"
                              alt="Analitics icon"></a>
  </div>
</section>
<section class="flex landing_benefits">
  <span class="landing_benefits_text">Наши преимущества:</span>
  <ul class="landing_benefits_ul">
    <li class="list">При формировании клиентского досье больше не нужно выполнять большое число ручных операций</li>
    <li class="list">Уменьшается срок предоставления продуктов и услуг Клиентам Банка из-за сокращения срока проверки
      документов и формирования клиентского досье
    </li>
    <li class="list">Больше никаких ошибок и неполного клиентского досье</li>
    <li class="list">Никакого дублирования клиентских досье</li>
    <li class="list">Обработка большого количества типов документов</li>
  </ul>
</section>
<section class="flex chart" id="analitics">
  <app-chart></app-chart>
  <app-chart-display></app-chart-display>
</section>
</body>
</html>
