<html>
<body>
<!--<div id="content">-->
<!--  <a style="display: {{isAuth ? 'unset' : 'none'}}" id="logout" href="#" (click)="logout()"><h3>Logout</h3></a>-->
<!--  <div id="leftBlock">-->
<!--    <h1>ПСБ-Профайлер</h1>-->
<!--    <hr>-->
<!--    <p>ПСБ-Профайлер - веб-приложение, позволяющее распознавать документы по установленным признакам и классифицировать-->
<!--      их в Клиентском досье. </p>-->
<!--  </div>-->
<!--  <div id="rightBlock">-->
<!--    <button style="display: {{isAuth ? 'none' : 'unset'}}" onclick="location.href = '/login'">Авторизоваться</button>-->
<!--    <button style="display: {{isAuth ? 'none' : 'unset'}}" onclick="location.href = '/registration'">-&#45;&#45;&#45;&#45;</button>-->
<!--    <button style="display: {{isAuth ? 'unset' : 'none'}}" (click)="myProfile()">Мой профиль</button>-->
<!--  </div>-->
<!--</div>-->
<header class="flex header_landing" id="head">
  <h1 class="header_logo">ПСБ-Профайлер</h1>
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
  <svg height="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<path style="fill:#B7E183;" d="M502.87,75.474c-12.201-12.204-31.952-12.205-44.154-0.001L163.89,370.299L53.284,259.693
	c-12.201-12.204-31.952-12.205-44.154-0.001c-12.173,12.174-12.173,31.981,0,44.153L141.814,436.53
	c12.199,12.198,31.953,12.2,44.153,0L502.87,119.626C515.042,107.453,515.042,87.645,502.87,75.474z"/>
    <path style="fill:#71DE56;" d="M502.87,75.474c-12.201-12.204-31.952-12.205-44.154-0.001L243.511,290.678v88.306L502.87,119.626
	C515.042,107.453,515.042,87.645,502.87,75.474z"/>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
    <g>
</g>
</svg>
  <svg height="40px" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><g fill="#f44336"><path d="m21.339844 329.398438c-5.460938 0-10.925782-2.089844-15.082032-6.25-8.34375-8.339844-8.34375-21.824219 0-30.164063l286.589844-286.59375c8.339844-8.339844 21.824219-8.339844 30.164063 0 8.34375 8.339844 8.34375 21.824219 0 30.164063l-286.589844 286.59375c-4.183594 4.179687-9.621094 6.25-15.082031 6.25zm0 0"/><path d="m307.929688 329.398438c-5.460938 0-10.921876-2.089844-15.082032-6.25l-286.589844-286.59375c-8.34375-8.339844-8.34375-21.824219 0-30.164063 8.339844-8.339844 21.820313-8.339844 30.164063 0l286.589844 286.59375c8.34375 8.339844 8.34375 21.824219 0 30.164063-4.160157 4.179687-9.621094 6.25-15.082031 6.25zm0 0"/></g></svg>
</header>
<section class="flex center landing_profiler">
  <img src="../../../assets/images/logo-landing.png" alt="Logo landing">
  <span class="flex center landing_profiler_span">ПСБ-Профайлер - веб-приложение, позволяющее распознавать документы по установленным признакам и классифицировать их в Клиентском досье.</span>
  <div class="flex center landing_icon">
    <a href="#head"><img class="landing_icon_img" src="../../../assets/images/documents-icon.png"
                              alt="Documents icon"></a>
    <a (click)="myProfile()" class="flex center landing_cabinet">
      <img class="landing_icon_img" src="../../../assets/images/icon-user.png" alt="User icon">
      <span>Личный кабинет</span>
    </a>
    <a href="#analitics"><img class="landing_icon_img" src="../../../assets/images/analitics-icon.png"
                              alt="Analitics icon"></a>
  </div>
</section>
<section class="flex landing_benefits">
  <span class="landing_benefits_text">Наши преимущества:</span>
  <ul class="landing_benefits_ul">
    <li class="list">При формировании клиентского досье больше не нужно выполнять большое число ручных операций</li>
    <li class="list">Уменьшается срок предоставления продуктов и услуг Клиентам Банка из-за сокращения срока проверки
      документов и формирования клиентского досье
    </li>
    <li class="list">Больше никаких ошибок и неполного клиентского досье</li>
    <li class="list">Никакого дублирования клиентских досье</li>
  </ul>
</section>
<!--<section class="flex landing_list_roster" id="documents">-->
<!--  <div class="flex landing_list_document">-->
<!--    <span>Список эл.досье</span>-->
<!--    <ul class="flex landing_list_document_ul">-->
<!--      <li class="flex center landing_list_document_li">Текст</li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="flex landing_list_document">-->
<!--    <span>Список документов</span>-->
<!--    <ul class="flex landing_list_document_ul">-->
<!--      <li class="flex center landing_list_document_li">Текст</li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--      <li class="flex center landing_list_document_li"></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</section>-->
<!--<canvas id="pie" class="chart chart-pie"-->
<!--        chart-data="data" chart-labels="labels" chart-options="options">-->
<!--</canvas>-->
<section class="flex chart" id="analitics">
  <app-chart></app-chart>
  <app-chart-display></app-chart-display>
</section>
</body>
</html>
