<!-- <header class="flex header_landing" id="head">
    <h1 class="header_logo">ПСБ-Профайлер</h1>
  </header> -->

<div id="header">
    <h2><a href="/" class="header_a">ПСБ-Профайлер</a></h2>
    <div id="bio"><h2><a href="/profile/{{authUser.id}}">{{authUser.login}}</a> | <a style="display:{{isAuth ? 'unset' : 'none'}}" id="logout" href="#" (click)="logout()">Logout</a></h2></div>
</div>
<div id="content">
    <div id="profile">
        <h2>Корневой каталог</h2>
        <hr>
        <div id="secs">
            <div class="sections" class="section">
                <h2>Необработанные документы</h2>
                <div class="filesTable">
                    <table id="nonProcessed" border="1">

                    </table>
                </div>
            </div>

            <div class="sections" class="section">
                <h2>Обработанные документы</h2>
                <div class="filesTable">
                    <table id="okProcessed" border="1">

                    </table>
                </div>
            </div>

            <div class="sections" class="section">
                <h2>Невалидные документы</h2>
                <div class="filesTable">
                    <table id="nonValid" border="1">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
  <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>
-->
