#header {
    background-color: #51516C;
    height: 72px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#header h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: white;
    margin-inline: 20px;
}

.header_a {
    color: white;
    text-decoration: none;
    margin-left: 154px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

/* #header h2 a{
    color: white;
    text-decoration: none;
    margin-left: 154px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
} */

/* #header h2 a:hover{
    color: #172429;
}
 */

 
#content{
    width: 100%;
    padding: 5%;
    background-color: #253236;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    height: 800px;
    border: 4px solid white;
    color: white;
    background: #ffffff30;
    min-width: 850px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: white;
    margin-bottom: 10px;
    height: 65px;
}

#secs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87%;
}

.section {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
    height: 95%;
    width: 33.3333333%;
}

#logout {
    text-decoration: none;
    color: white;
}

/* #logout:hover {
    text-decoration: none;
    color: #172429;
}
 */
input[type="file"] {
    /*display: none;*/
}

hr {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* a:hover{
    text-decoration: none;
    color: #b4b8b9
}
 */

table {
    color: black;
    width: 100%;
}

.filesTable {
    width: 100%;
}

/*SPINNER*/

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite,
  colors 1.4s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
