input[type="submit"] {
    width: 100%;
    height: 64px;
    background-color: #ffffff00;
    border: 4px solid white;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    margin-bottom: 7%;
    transition: .6s;
}

input[type="submit"]:hover{
    background-color: white;
    border: 4px solid #5b8693;
    color: #5b8693;
    transition: .6s;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid white;
}

#container h2{
    font-size: xx-large;
}

#container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 6%;
    width: 100%;
}

input[type="text"]{
    width: 95%;
    height: 45px;
    font-size: x-large;
    padding: 2%;
}

input[type="password"]{
    width: 95%;
    height: 45px;
    font-size: x-large;
    padding: 2%;
}


#logout {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
}