<html>
<body>
    <div id="content">
        <div id="container">
        <h2>Авторизация</h2>
        <form (ngSubmit)="auth()" method="POST">
            <div class="form-group">
                <label for="email">Почта: </label>
                <input type="text" name="email" id="email" formControlName="email" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Пароль: </label>
                <input type="password" name="password" id="password" formControlName="password" class="form-control" required />
            </div>
            {{errorMessage}}
            <div class="form-group">
                <input value="Login" type="submit">
            </div>
        </form>
        </div>
    </div>
</body>
</html>
